# Default ignored files
/../../missionMarchandises./.idea/shelf/
/../../missionMarchandises./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../missionMarchandises./.idea/httpRequests/
# Datasource local storage ignored files
/../../missionMarchandises./.idea/dataSources/
/../../missionMarchandises./.idea/dataSources.local.xml
